.CoinContainer {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 49.5%;
    max-height: 100%;
}


@media screen and (max-width: 1440px){
    .CoinContainer {
        position: absolute;
        left: 53%;
        top: 0;
        height: 100%;
        width: 100%;
        max-width: 670px;
        max-height: 100%;
    }
}
